.cardLittleInfo {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid grey;
  font-size: 20px;
}

.countryImg {
  width: 200px;
  height: auto;
}

.smallInfo {
  margin-left: 16px;
}

.container {
  display: grid;
  padding-top: 10px;
  grid-template-columns: repeat(6, 1fr);
}

.infoBox {
  font-family: "Barlow Condensed", sans-serif;
  margin: 0 20px 20px 0;
  padding: 20px;
  background: #1c2633;
  box-shadow: 0 3px 15px rgb(0 0 0 / 20%);
  border-radius: 5px;
  font-size: 16px;
}
